Services Layer/Data Acquisition Services/MONITORING_SVC/MONITORING_SVC/App_WebReferences/DB_Usage_Svc/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:25253/DB_USAGE_SVC/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:25253/DB_USAGE_SVC/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_setNew_InputMessage">
    <wsdl:part name="parameters" element="tns:setNew" />
  </wsdl:message>
  <wsdl:message name="IService_setNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:setNewResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getDataRow_InputMessage">
    <wsdl:part name="parameters" element="tns:getDataRow" />
  </wsdl:message>
  <wsdl:message name="IService_getDataRow_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDataRowResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getDataColumn_InputMessage">
    <wsdl:part name="parameters" element="tns:getDataColumn" />
  </wsdl:message>
  <wsdl:message name="IService_getDataColumn_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDataColumnResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getDataCell_InputMessage">
    <wsdl:part name="parameters" element="tns:getDataCell" />
  </wsdl:message>
  <wsdl:message name="IService_getDataCell_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDataCellResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="setNew">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/setNew" message="tns:IService_setNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/setNewResponse" message="tns:IService_setNew_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDataRow">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getDataRow" message="tns:IService_getDataRow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getDataRowResponse" message="tns:IService_getDataRow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDataColumn">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getDataColumn" message="tns:IService_getDataColumn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getDataColumnResponse" message="tns:IService_getDataColumn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDataCell">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getDataCell" message="tns:IService_getDataCell_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getDataCellResponse" message="tns:IService_getDataCell_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setNew">
      <soap:operation soapAction="http://tempuri.org/IService/setNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDataRow">
      <soap:operation soapAction="http://tempuri.org/IService/getDataRow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDataColumn">
      <soap:operation soapAction="http://tempuri.org/IService/getDataColumn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDataCell">
      <soap:operation soapAction="http://tempuri.org/IService/getDataCell" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:25253/DB_USAGE_SVC/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>